:root{
    --button-color: #c36cbb;
    --link-color: #585772;
    --light-gray: #6f6f89;
    --gray: #494964;
    
}
/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

button{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 15vh;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.nav-links{
    display: flex;
}

.logo-container:hover{
    transform: translateY(-5px);
    transition: 0.1s;
}

.logo-container a{
    display: flex;
    text-decoration: none;
    color: var(--link-color);
}

.logo-container a:visited{
    color: var(--link-color);
}

.logo{
    font-weight: 400;
    margin: 5px;
}

nav{
    width: 50%;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
}

.nav-link{
    color: var(--link-color);
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid var(--light-gray);
    transition: .1s;
}

.hamburger{
    display: none;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, var(--gray), var(--light-gray));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: var(--link-color);
}

.cta{
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid var(--button-color);
    background: transparent;
    color: var(--button-color);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover{
    color: var(--light-gray);
}

.cta-add{
    background: var(--button-color);
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cta-add:hover{
    transform: translateY(-10px);
    transition: .2s;
}

.cover{
    flex: 1;
    display: flex;
    justify-content: center;
}
.cover div{
    width: 500px;
    margin: 0 auto;
}

.cover img{
    height: 60vh;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.small-circle{
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

.laptop-select{
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 5%;
    right: 20%;
}

@keyframes drop{
    from{
        opacity: 0;
        transform: translateY(-80px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1024px){

    .presentation{
        flex-direction: column;
        /* margin-bottom: 50px; */
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .cover div{
        width: 300px;
    }

    .cover img{
        height: 37vh;
    }

    .laptop-select{
        bottom: 0;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .big-circle,
    .medium-circle,
    .small-circle{
        opacity: 0.3;
    }
}

@media (max-width: 767px){
    
    .logo-container:hover,
    .cta-add:hover{
        transform: initial;
    }

    nav{
        display: none;
        width: 70%;
    }

    .active{
        display: block;
        position: fixed;
        top: 100px;
        left: 15%;
        z-index: 1;

        background: rgba( 255, 255, 255, 1.00 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 5px;

        animation: drop .5s ease-in-out;
    }

    .nav-links{
        flex-direction: column;
    }

    .nav-links li{
        width: 100%;
    }
    .nav-link{
        display: block;
        padding: 10px 0px;
        text-align: center;
    }

    .nav-link:hover{
        padding-bottom: 10px;
        /* transition: initial; */
        border-bottom: initial;
    }

    .cart{
        position: fixed;
        right: 25px;
        bottom: 10px;
        z-index: 1;
    }
    
    .hamburger{
        display: block;
        width: 20px;
    }

    .presentation{
        width: 100%;
    }

    .intro-text{
        max-width: 90%;
        margin: 0 auto;
    }

    .intro-text h1{
        font-size: 26px;
    }

    .intro-text p{
        font-size: 16px;
    }

    .cta{
        padding: 50px 0px 0px 0px;
    }

    .cta-add{
        margin: 30px 0px 0px 0px;
    }

    .cover img{
        height: 30vh;
    }
    
    .laptop-select{
        bottom: -5%;
    }

    .medium-circle,
    .small-circle{
        display: none;
    }
}